ion-content {
  --background: #fafafa;
}

ion-toolbar {
  --background: linear-gradient(135deg, #0a1628, #0d2d5e);
  --color: white;
}

ion-title {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

ion-button {
  --color: white;
}